# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build outputs
build/
android/.gradle/
android/app/build/
android/local.properties

# IDE/local files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db
